.pl-4 {
    padding-left: 1rem;
}

.pb-2 {
    padding-bottom: 0.5rem;
}

.pb-1 {
    padding-bottom: 0.25rem;
}

.blur {
    filter: blur(4px) brightness(0);
}

/* https://codesandbox.io/s/silly-frog-z7ju3 */

#root {
    width: 100%;
    height: 100%;
}

#root .loader-container {
    /*background-color: #0cbaba;*/
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sk-chase {
    width: 80px;
    height: 80px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
    content: "";
    display: block;
    width: 25%;
    height: 25%;
    background-color: #0cbaba;
    /* background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%); */

    border-radius: 100%;
    animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
    animation-delay: -1.1s;
}

.sk-chase-dot:nth-child(2) {
    animation-delay: -1s;
}

.sk-chase-dot:nth-child(3) {
    animation-delay: -0.9s;
}

.sk-chase-dot:nth-child(4) {
    animation-delay: -0.8s;
}

.sk-chase-dot:nth-child(5) {
    animation-delay: -0.7s;
}

.sk-chase-dot:nth-child(6) {
    animation-delay: -0.6s;
}

.sk-chase-dot:nth-child(1):before {
    animation-delay: -1.1s;
    background-color: #0cb4b4;
}

.sk-chase-dot:nth-child(2):before {
    animation-delay: -1s;
    background-color: #0cafaf;
}

.sk-chase-dot:nth-child(3):before {
    animation-delay: -0.9s;
    background-color: #0ca9a9;
}

.sk-chase-dot:nth-child(4):before {
    animation-delay: -0.8s;
    background-color: #0ca4a4;
}

.sk-chase-dot:nth-child(5):before {
    animation-delay: -0.7s;
    background-color: #0c9e9e;
}

.sk-chase-dot:nth-child(6):before {
    animation-delay: -0.6s;
    background-color: #0c9999;
}

@keyframes sk-chase {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot {

    80%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes sk-chase-dot-before {
    50% {
        transform: scale(0.4);
    }

    100%,
    0% {
        transform: scale(1);
    }
}

.logo {
    filter: invert(47%) sepia(5%) saturate(1962%) hue-rotate(176deg) brightness(93%) contrast(85%);
    transition: all .5s ease-in-out;
}

.logo:hover {
    filter: invert(24%) sepia(91%) saturate(2531%) hue-rotate(218deg) brightness(98%) contrast(88%);
}