name: Build FormationFlight
permissions: write-all
on: [push, pull_request]
jobs:
  targets:
    runs-on: ubuntu-latest
    outputs:
      targets: ${{ steps.set-targets.outputs.targets }}
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - id: set-targets
      run: echo "targets=[$( (grep '\[env:.*UART\]' targets/*.ini) | sed 's/.*://' | sed s/.$// | egrep "(STLINK|UART)" | grep -v DEPRECATED | sed s/\]$// | tr '\n' ','  | sed 's/,$/"\n/' | sed 's/,/","/'g | sed 's/^/"/')]" >> $GITHUB_OUTPUT && cat $GITHUB_OUTPUT

  build:
    needs: targets
    strategy:
      fail-fast: false
      matrix:
        target: ${{fromJSON(needs.targets.outputs.targets)}}
    runs-on: ubuntu-latest
    steps:

    - name: Inject slug/short variables
      uses: rlespinasse/github-slug-action@v4.4.1

    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Cache pip
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ matrix.target }}

    - name: Install PlatformIO
      run: |
        python -m pip install --upgrade pip
        pip install platformio
        pip install wheel

    - name: Cache PlatformIO
      uses: actions/cache@v3
      with:
        path: ~/.platformio
        key: ${{ runner.os }}-platformio

    - name: Run PlatformIO
      run: |
        mkdir -p ~/artifacts/firmware
        platformio pkg install --platform native
        platformio pkg update
        pio run -e ${{ matrix.target }}
        OUTNAME=`echo ${{ matrix.target }} | sed s/_via.*//`
        mkdir -p ~/artifacts/
        mv .pio/build/${{ matrix.target }}/firmware.bin ~/artifacts/$OUTNAME.bin >& /dev/null || :
        # copy the common ESP32 files
        #if [[ ${{matrix.target}} == *ESP32* ]] ; then
        #  cp ~/.platformio/packages/framework-arduinoespressif32/tools/partitions/boot_app0.bin ~/artifacts/firmware/
        #  mv .pio/build/${{ matrix.target }}/partitions.bin ~/artifacts/firmware/
        #  mv .pio/build/${{ matrix.target }}/bootloader.bin ~/artifacts/firmware/bootloader_dio_40m.bin
        #fi

    - name: Store Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: firmware
        path: ~/artifacts/**
      continue-on-error: true
  release:
    runs-on: ubuntu-latest
    needs: [build]
    if: startsWith(github.event.ref, 'refs/tags/v')
    steps:
    - name: Download Artifacts
      id: download
      uses: actions/download-artifact@v3
      with:
        path: ~/artifacts/
    - name: Create Release
      id: create_release
      uses: softprops/action-gh-release@v1
      with:
        name: ${{ github.ref_name }}
        draft: false
        prerelease: false
        generate_release_notes: true
        files: "${{ steps.download.outputs.download-path }}/firmware/*"